# BASIC PYTHON

## 1. Splitting the string

In [1]:
s="Hi there sam !"
s.split()

['Hi', 'there', 'sam', '!']

## 2. Using .format() to print the statement

In [4]:
planet = "Earth"
diameter = 12742
print('The diameter of {} is {} kilometer '.format (planet,diameter))

The diameter of Earth is 12742 kilometer

## 3. Accessing element in nest dictionary

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d ['k1'][3]['tricky'][3]['target'][3]

'hello'

## 4. numpy

### 4.A create array of 10 zeroes

In [6]:
import numpy as np
ar = np.zeros(10)
ar

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

### 4.B create array of 10 fives

In [9]:
ar1 = np.ones(10)*5
ar1

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

## 5. Create an array of all even integers from 20 to 35

In [10]:
a = np.arange(20,36,2)
a

array([20, 22, 24, 26, 28, 30, 32, 34])

## 6. Create a 3*3 matrix with values from 0 to 8

In [7]:
arr = np.arange(0,9).reshape(3,3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## 7. Concatenate a and b

In [8]:
a=np.array([1,2,3])
b=np.array([4,5,6])
res = np.concatenate((a, b), axis=0)
res

array([1, 2, 3, 4, 5, 6])

## 8. Creating dataframe with 3 rows and 2 columns

In [13]:
import pandas as pd
k1={"shapes":["circle","square","triangle"],"size":[2,4,6]}
df = pd.DataFrame(k1)
print(df)

     shapes  size
0    circle     2
1    square     4
2  triangle     6

## 9. Generating a series of dates from 1st Jan'23 to 10th Feb'23

In [14]:
dates = pd.date_range(start= '1-1-2023',end='2-10-2023')
# also can do with for val in dates: #print(val)
print(dates)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

## 10. Create a 2-D list to dataframe

In [15]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df = pd.DataFrame(lists,columns=['numbers','names','age'])
print(df)

   numbers names  age
0        1   aaa   22
1        2   bbb   25
2        3   ccc   24